/* apps/web/src/index.css */

/* import css files */
@import "./styles/theme.css";
/* @import "./styles/ApplicationCard.css"; */
/* @import "./styles/ApplicationForm.css"; */
@import "./styles/HomePage.css";
/* @import "./styles/StatusDashboard.css"; */

/* reset default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--background-page);
  color: var(--headings);
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--headings);
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: var(--font-body);
  cursor: pointer;
}